html,body{
    background-color: black;
    padding: 0;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

header {
  /* background-color: grey ; */
  height: 60px;
  
  
  
}
header-container.black-bg{
    background-color: rgb(20,20,20);
}


.header-container{
    display: flex;
    flex-direction: row;
     justify-content: space-between; 
     align-items: center;
     position: fixed;
     background-color: black;
     

}
 .contain{ 
    width: 100%;
    max width: 1300px;
    margin: 0 atuo;
}

*::-webkit-scrollbar{
    display: none ;
} 


.left-cont{
    display: flex;
align-items: center;
}

/* .left-cont .right-cont{
    display: flex;
    flex-direction: row;
    align-items: center;

} */
.brand{
    width: 120px;
    
    

}
.main-nav{
    
    list-style: none;
    display: inline flex
}
 .nav-item {
    color: #e5e5e5;
    margin-right: 20px;
    justify-content: space-between;
    opacity: .83;
    
}
.nav-item.active{
    color: white;
    opacity: 1;
    font-weight: 600;

}
.right-cont i {
    color: white;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
    height: 29px;
    cursor: pointer;
    
}



.explore-nudge{
color: blue;
font-size: 14px;
display: none;
}

 .movie-section-heading:hover .explore-nudge {
    display: inline-block;
}

.movie-section-heading{
font-size: 20px;
font-weight: 700;
line-height: 1.2;
color: white;
cursor: pointer;
margin-bottom: 10px;
width: 220px;
}
.movies-item{
    width: 245px;
    height: 138px;
    display: flex;
    flex-direction: row;
    align-items: center;
   
    object-fit: contain;

}
.movies-row{
    display: flex;
    flex-direction: row;
 flex-wrap: nowrap;
 overflow-x: auto ;
 overflow-y: hidden;
}
.movies-row img{
    height: 170px;
    width: 220px;
    margin-right: 15px;
    border-radius: 4px;
    margin-left: 2px;
    
}
.movies-row img:hover{
    transform: scale(1.3);
    transition: transform ease-in-out 300ms;
}


.banner-content{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50vh;
}

.banner_title{
    color: white;
    font-size: 75px;
    line-height: 1.2;
    margin-bottom: 16px;
    font-style: italic;
    

}
.banner_info{
    margin-bottom: 10px;
    font-size: 37px;
    line-height: 1.5;
    color: black;
    font-style: italic;
    font-weight: bolder ;
}

.banner_overview{
    font-size: 25px;
    color: white;
    line-height: 1.5;
    font-weight: bold;
}
.action-button-cont{
    display: flex;
    flex-direction: row;
    align-items: center;

}

.action-button {
    border: none;
    background-color: white;
    margin-right: 11px;
    padding: 8px 23px;
    border-radius: 4px;
    font-weight: 700;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}








